<%- include("header"); -%>
<div class="container">
<h2 class="text-primary">About us.</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur veniam minus rerum libero accusantium eaque. Facere quas iusto veniam magnam sapiente officiis saepe minima, dolorem ducimus quam perspiciatis laboriosam iure.</p>
</div>

<%- include("footer"); -%>